*{
  margin:0;
  padding:0;
}
html, body, :global(#root) {
  width:1190px;
  margin:0 auto;
  height: 100%;
}
ul ,li :global(#root) {
 list-style: none;
  text-align: center;
  height:40px;
  line-height:40px;
}
a{
  text-decoration: none;
  color:#222;
  cursor:pointer;
}
