:global(.showBottom){
  border-width: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left:-141px;
  margin-top:75px;
  width: 282px;
  height: 154px;
  background: inherit;
  background-color: rgba(215, 215, 215, 1);
  border: none;
  border-radius: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
  animation:bounceInUp 0.5s  linear;
}
:global(.hide){
  display: none;
}
.close{
	width: 30px;
	height:30px;
	position: absolute;
	right:10px;
	top:0;
  cursor: pointer;
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
